<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File uploader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form method = "POST" enctype = "multipart/form-data">
        <span>Daftar dokumen</span>
        <input type="file" name="files[]" id="docs" hidden="hidden" multiple="true" autocomplete="off">
        <button type="button" id="custom-button">Upload a file</button>
        <span id="custom-text">No file chosen.</span>
        <input type="submit" value="Upload">
        <script src="{{ url_for('static', filename='index.js')}}"></script>
    </form>

    
    <div class="search-bar">
        <form method="GET" action="/search/">
            <input type="text" id="query" name="q" placeholder="Search query" height="100px">
            <input type="submit" class="btn" value="Search">
        </form>
    </div>
    

    <hr>
    <p>Query result goes here</p>
    <hr>

    <a href="{{ url_for('perihal') }}">Perihal</a>
</body>
</html>