<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perihal</title>
</head>
<body>
    <h1>Perihal</h1>
    <p>Program ini menerima masukan files yang diupload ke directory "files". File dalam directory tersebut.</p>
    <p>Setelah itu, program menerima search query yang kemudian akan menampilkan dokumen dengan similarity</p>
    <p>terurut dari paling tinggi.</p>
    <h4>Program ini dibuat oleh</h4>
    <ul>Haikal Lazuardi Fadil (13519027)</ul>
    <ul>Rafi Raihansyah Munandar (13519154)</ul>
    <ul>Harith Fakhiri Setiawan (13519161)</ul>
    <a href="{{ url_for('home') }}">Back to home</a>
</body>
</html>